<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
    <a class="navbar-brand">Home</a>
        <form class="form-inline">
            <button *ngIf="!service.loggedin()" (click)="login()" type="button" class="btn btn-primary mr-1">Login</button>
            <button *ngIf="!service.loggedin()" (click)="register()" class="btn btn-outline-success my-2 my-sm-0 mr-1" type="button">Register</button>
            <button *ngIf="service.loggedin()" (click)="onclick()" type="button" class="btn btn-primary mr-1">Logout</button>
        </form>
    </div>
  </nav>
<router-outlet></router-outlet>