<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Register
        </div>

        <div class="card-body">
            <form [formGroup]="regis" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" [class.is-invalid]="regis.get('name').invalid && regis.get('name').touched" formControlName="name" placeholder="Username .." class="form-control">
                    <div class="mt-2" *ngIf="regis.get('name').invalid && regis.get('name').touched">
                        <p class="text-danger" *ngIf="regis.get('name').errors ?.required">Please enter your username</p>
                        <p class="text-danger" *ngIf="regis.get('name').errors ?.minlength">Minimum username is 3 character</p>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" [class.is-invalid]="regis.get('email').invalid && regis.get('email').touched" formControlName="email" placeholder="Email .."  class="form-control">
                    <div class="mt-2" *ngIf="regis.get('email').invalid && regis.get('email').touched">
                        <p class="text-danger" *ngIf="regis.get('email').errors ?.email" >Please enter a valid email</p>
                        <p class="text-danger" *ngIf="regis.get('email').errors ?.required" >Please enter your email</p>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password" class="form-control">
                    
                    <div class="mt-2" *ngIf="regis.get('password').invalid && regis.get('password').touched">
                        <p class="text-danger" *ngIf="regis.get('password').errors ?.required">Please enter your password</p>
                        <p class="text-danger" *ngIf="regis.get('password').errors ?.minlength">Minimum password is 5 character</p>
                    </div>
                </div>

                <button type="submit" [disabled]="!regis.valid" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>